@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-brand-bg text-slate-900;
    }
}

@layer utilities {
    .gradient-guangzhou-hongkong {
        background: linear-gradient(135deg, #1E3A8A 0%, #DC2626 100%);
    }

    .text-gradient-dual {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-brand-blue to-brand-red;
    }
}